PROJECT_ID=bd-genai-internal
DATABASE_ID=bd-genai-firestore
FIRESTORE_FILES_COLLECTION=files
FIRESTORE_CHAT_SESSION_COLLECTION=chat_session
FIRESTORE_TAGS_COLLECTION=tags
FIRESTORE_USER_COLLECTION=users
FIRESTORE_KB_COLLECTION=
GENAI_SANDBOX_API=
ENVIRONMENT=dev
BUCKET_NAME=bd-user-upload
ALLOWED_FILE_TYPES=application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
MAX_UPLOAD_SIZE=104857600
ALLOWED_ORIGINS=http://localhost:3000


GOOGLE_APPLICATION_CREDENTIALS= key.json
