llama-index-core==0.11.2
llama-index-readers-file==0.2.0
pinecone-client==5.0.1
gcsfs==2024.6.1
google-cloud-logging==3.11.2
google-cloud-storage==2.18.2
google-cloud-aiplatform==1.64.0
google-cloud-firestore==2.18.0
fastapi==0.112.2
uvicorn==0.30.6
pydantic==2.8.2
python-dotenv==1.0.1